<div class="mt4 pt3 pb2 bt b--light-gray serif f5 mid-gray">
  <p>
    Enjoyed this? Have a critique or want to suggest a change? 
    I welcome all feedback! You can 
    <a href="{{ .Site.Params.github_repo }}/blob/main/content/{{ .File.Path }}" class="link blue hover-dark-blue">
      view the source of this post on GitHub
    </a> 
    to suggest edits or 
    <a href="{{ .Site.Params.github_repo }}/issues" class="link blue hover-dark-blue">
      open an issue
    </a> 
    to share your thoughts.
  </p>
</div>